{% extends "base.html" %}

{% block head %}
<title>{{ server_name }} - Info</title>
{% endblock %}

{% block body %}
<div class="primary">
    <div class="info">
        <div class="info_header">
            <div class="info_header_server">
                <div class="info_header_content">
                    <div class="info_header_server_info">
                        <h1 class="info_header_server_name">{{ server_name }}</h1>
                        {% if bot_count %}
                        <p class="info_header_players">{{ player_count }} / {{ max_players }} Players ({{ bot_count }} Bots)</p>
                        {% else %}
                        <p class="info_header_players">{{ player_count }} / {{ max_players }} Players</p>
                        {% endif %}
                    </div>
                    <div class="info_header_server_map">
                        <p class="info_header_current_map">{{ current_map }}</p>
                        {% if game_mode %}
                        <p class="info_header_game_mode">{{ game_mode }}</p>
                        {% else %}
                        <p class="info_header_game_mode">Unknown</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="info_actions">
                <div class="info_action_button_tags">
                    <div class="info_action_buttons">
                        <a class="info_header_connect preload" href="steam://connect/{{ server_ip }}:{{ server_port }}">
                            Connect
                            {% if password %}
                            <img src="{{ url_for('static', filename='svg/key-fill.svg') }}" class="info_header_password_protected" width="20" height="20">
                            {% endif %}
                        </a>
                        <a class="info_header_favorite preload" href="javascript:void(0)" onclick="addServerToFavorite();">Favorite</a>
                        {% if sourcetv_port %}
                        <a class="info_header_sourcetv preload" href="javascript:void(0)">
                            Watch
                            <img src="{{ url_for('static', filename='svg/key-fill.svg') }}" class="info_header_sourcetv_password" width="20" height="20">
                        </a>
                        {% endif %}
                        {% if server_steam_group %}
                        <a class="info_header_steam_group preload" href="https://steamcommunity.com/gid/{{ server_steam_group }}">Steam Group</a>
                        {% endif %}
                    </div>
                    {% if server_tags %}
                    <p class="info_action_tags_text">{{ server_tags }}</p>
                    {% endif %}
                    {% if location %}
                    <p class="info_action_location">{{ location }}</p>
                    {% endif %}
                </div>
                {% if next_map %}
                <div class="info_header_next_map_block">
                    <p class="info_header_next_map_text">Next Map</p>
                    <div class="info_header_next_map_display">
                        {% if next_map_workshop_id %}
                        <a href="https://steamcommunity.com/workshop/filedetails/?id={{ next_map_workshop_id }}" class="info_header_next_map">{{ next_map }}</a>
                        {% else %}
                        <p class="info_header_next_map">{{ next_map }}</p>
                        {% endif %}
                        {% if next_map_game_mode %}
                        <p class="info_header_next_map_game_mode">{{ next_map_game_mode }}</p>
                        {% else %}
                        <p class="info_header_next_map_game_mode">Unknown</p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="info_rules">
            <p class="info_rules_text">Server Settings</p>
            <dl class="info_rules_box">
                {% if server_rules %}
                {% for item in server_rules.items() | batch(16) %}
                <div class="info_rules_batch">
                    {% for key, value in item %}
                    <div class="info_rules_item">
                        <dt class="info_rules_key">{{ key }}</dt>
                        <dd class="info_rules_value">{{ value }}</dd>
                    </div>
                    <hr class="info_rules_hr">
                    {% endfor %}
                </div>
                {% endfor %}
                {% else %}
                <div class="info_rules_error">
                    <p>Cannot fetch server settings</p>
                </div>
                {% endif %}
            </dl>
        </div>
        <div class="info_players">
            <a class="info_players_text">Player List</a>
            <table class="info_players_table sort_table_info">
                <thead class="info_player_table_head">
                    <tr>
                        <th class="info_player_table_head_name">Name</th>
                        <th class="info_player_table_head_score">Score</th>
                        <th class="info_player_table_head_time">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each in player_list %}
                    {% if each.name %}
                    <tr>
                        <td class="info_player_table_name">{{ each.name }}</td>
                        <td class="info_player_table_score">{{ each.score }}</td>
                        <td class="info_player_table_time" data-duration="{{ each.duration }}"><time datetime="{{ each.time }}">{{ each.time }}</time></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script fetchpriority="high" defer src="{{ url_for('static', filename='scripts/reanimate_button.js') }}"></script>
        <script fetchpriority="high" defer id="info_map_background_script" src="{{ url_for('static', filename='scripts/info/info_map_background.js') }}" data-map-name="{{ raw_map_name }}"></script>
        <script defer src="{{ url_for('static', filename='scripts/info/server_favorites.js') }}" data-server-ip="{{ server_ip }}" data-server-port="{{ server_port }}" data-favorite-text="Favorite" data-remove-favorite-text="Remove from favorites"></script>
        {% if sourcetv_port %}
        <script defer id="info_server_sourcetv_script" src="{{ url_for('static', filename='scripts/info/info_server_sourcetv.js') }}" data-server-ip="{{ server_ip }}" data-sourcetv-port="{{ sourcetv_port }}"></script>
        {% endif %}
        <script defer src="{{ url_for('static', filename='scripts/info/sort_table_info.js') }}"></script>
    </div>
</div>
{% endblock %}