{% for item in server_list %}
<div class="server_list_item" data-server-name="{{ item['name'] }}" data-server-readable-map="{{ item['map'] }}" data-server-map="{{ item['raw_map'] }}" data-server-region="{{ item['region'] }}" data-server-mode="{{ item['game_mode'] }}" data-player-count="{{ item['players'] - item['bots'] }}">
    <div class="server_list_details">
        <div class="server_list_name_password">
            {% if item["password"] %}
            <img title="Server is password protected" src="{{ url_for('static', filename='svg/key-fill.svg') }}" class="server_list_password" width="18" height="18">
            {% endif %}
            <a href="{{ url_for('info.get_info', server_ip=item['addr'], port=item['port']) }}" title="{{ item['name'] }}" class="server_list_name">{{ item["name"] }}</a>
        </div>
        <div class="server_list_info">{{ item["map"] }} • {% if item["game_mode"] %}{{ item["game_mode"] }}{% else %}Unknown{% endif %} • {{ item["vanilla"] }} • {{ item["region"] }}</div>
    </div>
    <div class="server_list_misc">
        {% if item["bots"] == 0 %}
        <p class="server_list_item_player_count">{{ item["players"] }} / {{ item["maxPlayers"] }}</p>
        {% else %}
        <p class="server_list_item_player_count">{{ item["players"] }} / {{ item["maxPlayers"] }} ({{ item["bots"] }})</p>
        {% endif %}
        <div class="server_list_item_icons">
            <a href="steam://connect/{{ item['ip'] }}"><img role="button" title="Connect" src="{{ url_for('static', filename='svg/play-fill.svg') }}" class="server_list_connect" height="18" width="18"></a>
            <button data-server-ip="{{ item['addr'] }}" data-server-port="{{ item['port'] }}" class="server_list_favorite_button"><img role="button" title="Add to favorites" src="{{ url_for('static', filename='svg/star.svg') }}" class="server_list_favorite" height="15" width="15"></button>
        </div>
    </div>
</div>
{% endfor %}
