{% extends "base.html" %}

{% block head %}
{% if show_server_list %}
<title>Server List</title>
{% else %}
<title>Favorites</title>
{% endif %}
{% endblock %}

{% block body %}
<div class="primary">
    <div class="server">
        <div class="server_header">
            {% if show_server_list %}
            <h1 class="server_header_title">Server List</h1>
            {% else %}
            <h1 class="server_header_title">Favorites</h1>
            {% endif %}
            {% if show_server_list %}
            <div class="server_header_stats">
                <p class="server_header_server_count">
                    <span id="server_header_server_count_number">---</span> Servers
                </p>
                <p class="server_header_player_count">
                    <span id="server_header_player_count_number">---</span> Players Online
                </p>
            </div>
            {% endif %}
        </div>
        <div class="server_search">
            <img title="Search" src="{{ url_for('static', filename='svg/search.svg') }}" class="server_search_icon" height="12" width="12">
            <input type="search" placeholder="Search for server..." class="server_search_text" id="server_search_box">
        </div>
        {% if not show_server_list %}
        <a href="{{ url_for('servers.get_server_list') }}" class="server_favorites_back">Back to server list</a>
        {% endif %}
        {% if show_server_list %}
        <div class="server_filter">
            <div class="server_filter_hint">
                <input type="image" title="Filter" src="{{ url_for('static', filename='svg/funnel.svg') }}" class="server_filter_icon" height="12" width="12" id="server_filter_toggle" role="button">
                <p class="server_filter_text">Filter</p>
                <p class="server_filter_hint_text" id="server_filter_hint"></p>
                <a href="{{ url_for('servers.get_favorites') }}" class="server_filter_favorites">Go to favorites</a>
            </div>
            <form class="server_filter_form">
                <div class="server_filter_data">
                    <fieldset class="server_filter_typical">
                        <legend>General</legend>
                        <div class="server_filter_full">
                            <input type="checkbox" id="server_filter_full" name="not_full" value="1">
                            <label for="server_filter_full">Server is not full</label>
                        </div>
                        <div class="server_filter_has_users_playing">
                            <input type="checkbox" id="server_filter_has_users_playing" name="has_user_playing" value="1">
                            <label for="server_filter_has_users_playing">Has users playing</label>
                        </div>
                        {# <div class="server_filter_no_password">
                            <input type="checkbox" id="server_filter_no_password" name="password" value="1">
                            <label for="server_filter_no_password">Is not password protected</label>
                        </div> #}
                    </fieldset>
                    <fieldset class="server_filter_vanilla">
                        <legend>Presets</legend>
                        <div class="server_filter_preset_vanilla">
                            <input type="radio" id="server_filter_vanilla" name="vanilla" value="1">
                            <label for="server_filter_vanilla">Vanilla</label>
                        </div>
                        <div class="server_filter_preset_vanilla_custom">
                            <input type="radio" id="server_filter_vanilla_custom" name="vanilla" value="2">
                            <label for="server_filter_vanilla_custom">Vanilla Custom</label>
                        </div>
                        <div class="server_filter_preset_custom">
                            <input type="radio" id="server_filter_custom" name="vanilla" value="3">
                            <label for="server_filter_custom">Custom</label>
                        </div>
                        <div class="server_filter_preset_mvm">
                            <input type="radio" id="server_filter_mvm" name="vanilla" value="4">
                            <label for="server_filter_mvm">MVM</label>
                        </div>
                        <div class="server_filter_preset_all">
                            <input type="radio" id="server_filter_all" name="vanilla" value="5">
                            <label for="server_filter_all">All</label>
                        </div>
                    </fieldset>
                    <fieldset class="server_filter_custom">
                        <legend>Other</legend>
                        <div class="server_filter_alltalk">
                            <input type="checkbox" id="server_filter_alltalk" name="alltalk" value="1">
                            <label for="server_filter_alltalk">Global voice chat</label>
                        </div>
                        <div class="server_filter_nocrits">
                            <input type="checkbox" id="server_filter_nocrits" name="nocrits" value="1">
                            <label for="server_filter_nocrits">No random crits</label>
                        </div>
                        <div class="server_filter_dmgspread">
                            <input type="checkbox" id="server_filter_dmgspread" name="dmgspread" value="1">
                            <label for="server_filter_dmgspread">Random damage spread</label>
                        </div>
                        <div class="server_filter_increased_max_players">
                            <input type="checkbox" id="server_filter_increased_maxplayers" name="increased_maxplayers" value="1">
                            <label for="server_filter_increased_maxplayers">Increased max players</label>
                        </div>
                        <div class="server_filter_norespawntime">
                            <input type="checkbox" id="server_filter_norespawntime" name="norespawntime" value="1">
                            <label for="server_filter_norespawntime">No respawn time</label>
                        </div>
                        <div class="server_filter_respawntimes">
                            <input type="checkbox" id="server_filter_respawntimes" name="respawntimes" value="1">
                            <label for="server_filter_respawntimes">Modified respawn time</label>
                        </div>
                        <div class="server_filter_friendlyfire">
                            <input type="checkbox" id="server_filter_friendlyfire" name="friendlyfire" value="1">
                            <label for="server_filter_friendlyfire">Friendly fire</label>
                        </div>
                        <div class="server_filter_highlander">
                            <input type="checkbox" id="server_filter_highlander" name="highlander" value="1">
                            <label for="server_filter_highlander">Highlander</label>
                        </div>
                        <div class="server_filter_gravity">
                            <input type="checkbox" id="server_filter_gravity" name="gravity" value="1">
                            <label for="server_filter_gravity">Modified gravity</label>
                        </div>
                        <div class="server_filter_replay">
                            <input type="checkbox" id="server_filter_replay" name="replays" value="1">
                            <label for="server_filter_replay">Replay</label>
                        </div>
                    </fieldset>
                    <fieldset class="server_filter_region">
                        <legend>Region</legend>
                        <select class="server_filter_region_select" id="server_filter_region_select" name="region">
                            <option value="-1">All</option>
                            <option value="0">US East</option>
                            <option value="1">US West</option>
                            <option value="2">South America</option>
                            <option value="3">Europe</option>
                            <option value="4">Asia</option>
                            <option value="5">Australia</option>
                            <option value="6">Middle East</option>
                            <option value="7">Africa</option>
                            <option value="255">World</option>
                        </select>
                    </fieldset>
                </div>
                <button type="submit" id="server_filter_button" class="server_filter_button preload">Apply Filters</button>
            </form>
        </div>
        {% endif %}
        <div class="server_list">
            <div class="server_list_header">
                <p class="server_list_text">Servers <span id="server_list_filtered_server_count"></span></p>
                <div class="server_list_header_align_right">
                    <span class="server_list_sort_hint">Sort By</span>
                    <div class="server_list_sort">
                        <span class="server_list_sort_name ws" tabindex="0">Name</span>
                        <span class="server_list_sort_map ws comma" tabindex="0">Map</span>
                        <span class="server_list_sort_mode ws comma" tabindex="0">Game Mode</span>
                        <span class="server_list_sort_region comma" tabindex="0">Region</span>
                    </div>
                    <p class="server_list_player_count_hint" tabindex="0">Players</p>
                </div>
            </div>
            <div class="server_list_fetching">
                <p>Fetching server list...</p>
            </div>
            <div class="server_list_servers target">
                {% if show_server_list %}
                {% include "servers_item.html" %}
                {% endif %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</div>
<script fetchpriority="high" defer src="{{ url_for('static', filename='scripts/reanimate_button.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/servers/sort.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/servers/search.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/servers/favorites.js') }}" data-favorited-alt-text="Add to favorites" data-remove-favorite-alt-text="Remove from favorites"></script>
{% if show_server_list %}
<script defer src="{{ url_for('static', filename='scripts/servers/filter.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/servers/fetch_stats.js') }}"></script>
{% else %}
<script defer src="{{ url_for('static', filename='scripts/favorites/fetch.js') }}" data-missing-favorites-text="No favorited servers."></script>
{% endif %}
{% endblock %}
