$font-stack: sans-serif;

$info-font-stylized-stack: "Cantarell", sans-serif;
$info-font-regular-stack: "Open Sans", sans-serif;

$main-bg-color: #221f1c;
$main-text-color: #fff;
$main-button-color: rgba(87, 81, 71, 0.9);
$main-button-color-hover: rgba(87, 81, 71, 1);
$main-button-color-active: rgba(87, 81, 71, 0.8);
$main-content-bg-color: #393532;
$main-content-info-bg-color: #48423b;

$info-action-bg-color: #a39884;
$info-player-list-border: #5a534a;

$server-hint-color: #aba8a5;
$server-item-bg-color: rgba(163, 152, 132, 0.75);

/* default firefox font size */
$default-font-size: 16px;

@mixin vertical-flex() {
    display: flex;
    flex-direction: column;
}

@mixin universal-drop-shadow($shadow-radius) {
    box-shadow: 3px 3px $shadow-radius rgba(128, 128, 128, 0.9);
}

@font-face {
    font-family: "Cantarell";
    src: local("Cantarell"), url("/static/fonts/Cantarell-VF.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    background-color: $main-bg-color;
    font-size: $default-font-size;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    margin: 0;
}

.primary {
    @include vertical-flex();
    color: $main-text-color;
    height: 100%;
    align-items: center;

    @import "servers";
    @import "info";
    @import "except";
}

.preload {
    transition: none !important;
}

.hide {
    display: none !important;
}
