.info {
    @include vertical-flex();
    font-family: $info-font-stylized-stack;
    width: 80%;
    max-width: 1200px;
    background-color: $main-content-bg-color;
    
    .info_header {
        .info_header_server {
            display: flex;
            justify-content: space-between;
            background-color: $main-content-info-bg-color;
            .info_header_content {
                display: flex;
                justify-content: space-between;
                width: 100%;
                backdrop-filter: blur(10px);
                .info_header_server_info {
                    @include vertical-flex();
                    .info_header_server_name {
                        font-size: 30px;
                        font-weight: 600;
                        margin: 30px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        text-shadow: 3px 3px 20px gray, rgba(255,255,255,0.5) 0px 0px 30px;
                    }
                    .info_header_players {
                        font-size: 25px;
                        margin-inline: 30px;
                        margin-top: 10px;
                        margin-bottom: 30px;
                        text-shadow: 3px 3px 20px gray;
                    }

                }

                .info_header_server_map {
                    @include vertical-flex();
                    justify-content: center;
                    text-align: right;
                    margin-inline: 30px;
                    .info_header_current_map {
                        font-size: 25px;
                        margin-bottom: 8px;
                    }
                    .info_header_game_mode {
                        margin-top: 0;
                    }
                }
            }
        }

        .info_actions {
            background-color: $info-action-bg-color;
            display: flex;
            justify-content: space-between;
            min-height: 140px;
            .info_action_button_tags {
                @include vertical-flex();
                justify-content: center;
                padding-left: 40px;
                .info_action_tags_text {
                    margin-top: 10px;
                    font-size: 15px;
                }
                .info_action_location {
                    margin-top: 5px;
                    font-size: 12px;
                }
                .info_action_buttons {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .info_header_favorite {
                        /* reenable in js */
                        display: none;
                        cursor: pointer;
                    }
                    .info_header_connect {
                        display: flex;
                        align-items: center;
                        .info_header_password_protected {
                            margin-left: 10px;
                            filter: invert(1);
                        }
                    }
                    .info_header_connect, .info_header_favorite, .info_header_steam_group {
                        background-color: $main-button-color;
                        padding-block: 5px;
                        padding-inline: 13px;
                        font-size: 25px;
                        color: $main-text-color;
                        text-decoration: none;
                        user-select: none;
                        @include universal-drop-shadow();
                    }
                }
            }
            .info_header_next_map_block {
                @include vertical-flex();
                align-self: center;
                text-align: right;
                margin-inline: 30px;
                .info_header_next_map_text {
                    font-size: 28px;
                    margin-bottom: 5px;
                    margin-top: 0;
                    text-shadow: 3px 3px 3px gray;
                }
                .info_header_next_map {
                    font-size: 25px;
                    margin-bottom: 0;
                    margin-top: 0;
                }
                .info_header_next_map_game_mode {
                    margin-top: 1px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .info_rules {
        .info_rules_text {
            margin: 30px;
        }
        .info_rules_box {
            width: 100%;
            font-family: $info-font-regular-stack;
            box-sizing: border-box;
            background-color: $main-content-info-bg-color;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 20px;
            .info_rules_batch {
                margin-inline: 10px;
                .info_rules_item {
                    display: flex;
                    justify-content: space-between;
                }
                .info_rules_hr {
                    border: 0.5px solid gray;
                    margin: auto;
                    margin-block: 1px;
                    opacity: 0.3;
                }
                .info_rules_hr:last-child {
                    display: none;
                }
            }
            .info_rules_error {
                width: max-content;
            }
        }
    }

    .info_players {
        @include vertical-flex();
        .info_players_text {
            margin: 30px;
        }
        .info_players_table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
            thead {
                tr {
                    th {
                        height: 50px;
                        width: min-content;
                        cursor: pointer;
                        user-select: none;
                        background-color: $main-content-info-bg-color;
                        text-align: center;
                    }
                    .info_player_table_head_name {
                        text-align: left;
                        min-width: 50px;
                        padding-left: 30px;
                    }
                    .th-sort-asc::after {
                        content: " \25b4";
                    }
                    .th-sort-desc::after {
                        content: " \25be";
                    }
                }
            }
            tbody {
                background-color: $main-content-info-bg-color;
                border-top: 1px solid $info-player-list-border;
                font-family: $info-font-regular-stack;
                tr {
                    td {
                        text-align: center;
                        padding-block: 5px;
                    }
                    .info_player_table_name {
                        text-align: left;
                        padding-left: 28px;
                        padding-right: 10px;
                    }
                }
                tr:last-child {
                    td {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
