$font-stack: sans-serif;

$info-font-stylized-stack: "Cantarell", sans-serif;
$info-font-regular-stack: "Open Sans", sans-serif;

$main-bg-color: #221f1c;
$main-text-color: #fff;
$main-button-color: #575147;
$main-content-bg-color: #393532;
$main-content-info-bg-color: #48423b;

$info-action-bg-color: #a39884;
$info-player-list-border: #5a534a;

/* default firefox font size */
$default-font-size: 16px;

@mixin vertical-flex() {
    display: flex;
    flex-direction: column;
}

@mixin universal-drop-shadow() {
    box-shadow: 3px 3px 10px gray;
}

@font-face {
    font-family: "Cantarell";
    src: local("Cantarell"), url("/static/fonts/Cantarell-VF.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    background-color: $main-bg-color;
    font-size: $default-font-size;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    margin: 0;
}

.primary {
    @include vertical-flex();
    color: $main-text-color;
    height: 100%;
    align-items: center;

    @import "info.scss";
}
